ray==2.8.1
ray[default]
ray[train]
ray[tune]
ray[rllib]
google-api-core==2.17.1
google-auth==2.28.1
google-auth-oauthlib>=1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gymnasium==0.28.1
pygame>=2.1.0
pyproj
tensorboard
torch>2.0
torchaudio
torchvision
numpy<2.0
matplotlib
orjson
opencv-python-headless
tabulate
fastapi
uvicorn[standard]
scikit-learn
seaborn
setuptools<70.0.0
onnx
onnxruntime
opencv-python-headless
git+https://gitee.com/Morphlng/target_assign_rl.git
git+https://gitee.com/Morphlng/uav_2d_env.git
git+https://gitee.com/Morphlng/uav_3d_env.git
git+https://gitee.com/Morphlng/tcp_comm.git
